extends layout 
 
block content 
  h1= title 
 
  if (toShow == null) 
    h2 No instance to delete 
  else 
    - let macbookid = toShow._id 
    - let cost= toShow.cost
    - let model = toShow.model
    - let memory= toShow.memory
    - let actionid = "/resource/macbook/" + macbookid 
    script let actionid = "#{actionid}" 
    div 
      div.row 
        div(class='macbookAttr mr-3') macbook ID is: 
        div #{macbookid} 
      div.row 
        div(class='macbookAttr mr-3') macbook Type is: 
        div #{cost} 
      div.row 
        div(class='macbookAttr mr-3') macbook Size is: 
        div #{model} 
      div.row 
        div(class='macbookAttr mr-3') macbook Cost is: 
        div #{memory} 
 
    button(class="btn btn-danger m-2" onclick="deleteOnid()") Delete 
    button(class="btn btn-secondary m-2" onclick="cancel()") Cancel 
 
  script. 
    function cancel() { 
      // Go back to the home pmemoryfor the macbook collection 
      window.location.href='/macbook' 
    } 
  script. 
    function deleteOnid() { 
      console.log("starting delete") 
      // delete first 
      fetch(actionid, { 
        method: 'DELETE'      // Don't need a body for the delete 
      }).then((resp) => { 
        return resp.json(); // or resp.text() or whatever the server sends 
      }).then((body) => { 
        alert("Delete succeded") 
        window.location.href='/macbooks' 
        // TODO handle body 
      }).catch((error) => { 
        // TODO handle error 
        alert("Delete failed " + error ) 
      }); 
    }